.playerCard {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    &__img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        border: 2px solid;
    }

    &__lost {
        background-color: rgba(0,0,0,0.1) !important;
    }
}

.dropbtn {
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    color: #8b8b8b;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-size: 14px;
    display: none;
    position: absolute;
    background-color: rgb(20, 24, 27);
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content{
    border-radius: 5px;
}

.button:hover {background-color: #ddd;}

.button{
    border: none;
    background-color: rgb(137, 142, 145);
}

.show {display: block;}

.lost {
    width: 20px;
}

.won {
    color: white;
    background-color: #26272C;
    position: absolute;
    min-width: 360px;
    height: 360px;
    top: 62px;
    left: 232px;
    z-index: 10000;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    font-size: 30px;
    img{
        width: 100px;
        height: 100px;
    }
    &__text {
        margin-bottom: 10px;
    }
}

.exit {
    background-color: rgba(0,0,0,0);
    border: none;
}